<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Online Computer Shop</h2>

    
<hr>

    <table>
        <tr>
            <td>Ram</td>
            <td>Casing</td>
            <td>Storage</td>
            <td>Monitor</td>
            <td>Graphics</td>
        </tr>
    </table>
<hr>

        Name:<%= user.username %>    <br>
        Id: <%= user.id %> <br>
        Password: <%= user.password %>
</body>
</html>