<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Admin Registration</h3>
    
    
    <form method="POST">
        <h4>User Name</h4><br>
        <input type="text" name="aname" id="aname"><br>
        <h4>Password</h4><br>
        <input type="password" name="password" id="password"><br>

        <input type="submit" value="Submit"><br>
    </form>
    <p><a href="/alogin">Admin Login</a></p>

</body>
</html>