<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="post">
        <h3>Customer Username</h3><br>
        <input type="text" name="uname" id="uname"><br>
        <h3>Password</h3><br>
        <input type="password" name="password" id="password"><br>
        <h3>Contact</h3>
        <input type="number" name="contact" id="contact"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>