<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Customer Username</h3><br>
        <input type="text" name="cname" id="cname"><br>
        <h3>Password</h3><br>
        <input type="password" name="password" id="password"><br>
        <h3>Contact</h3>
        <input type="number" name="contact" id="contact"><br>
        
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <a href="/portal/">Admin Portal</a>
    <br><br>
    <a href="/alogout">Admin Logout</a>
</body>
</html>