<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h1>Customer Login</h1>
        <p> 
            <h4>Customer Name</h4>
            <input type="text" name="cname" id="cname"></p>
            <h4>Password</h4>
           <p> 
            <input type="password" name="password" id="password"></p>

            <input type="submit" value="submit">
    </form>
<br>
    <a href="/alogin">Admin Login</a>
</body>
</html>